body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    overflow-x: hidden; /* Evita a barra de rolagem horizontal */
}

/* Estilo para o conteúdo da página */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo para as metades da transição */
.split-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Permite que os cliques passem para o conteúdo por baixo */
    z-index: 100; /* Garante que a transição fique na frente */
    display: flex;
    transition: transform 0.8s ease-in-out; /* Transição para o fechamento */
}

.split-transition.active {
    transform: translateY(0);
}

.half {
    width: 50%;
    height: 100%;
    background-color: #333; /* Cor da transição */
    transition: transform 0.8s ease-in-out; /* Transição para a abertura */
}

.half.left {
    transform-origin: left;
}

.half.right {
    transform-origin: right;
}

/* Classes para a transição de abertura */
.split-transition-open .half.left {
    transform: translateX(-100%);
}

.split-transition-open .half.right {
    transform: translateX(100%);
}